body {
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header{
    padding: 20px;
}

a {
    color: #5f6368;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
    padding-left: 20px;
    padding-right: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: inline-block;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(207, 207, 207, 0.479);
    padding: 12px;
}