body {
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header{
    padding: 20px;
    height: 20px;
}

a {
    color: #5f6368;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
    padding-left: 20px;
    padding-right: 0;
}

#button { 
    color: rgb(255, 255, 255);
    background-color: #4285f4;
    padding-top: 5px;
    padding-bottom: 13px;
    margin-top: -5px;
    margin-bottom: 0px;
    width: 70px;
    height: 10px;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: inline-block;
}

.search-bar input {
    height: 34px;
    width: 527px;
}

.buttons {
    margin: 27px;
    z-index: 1;
}

.buttons input {
    background: #f8f8f8;
    margin: 0px 15px; 
    height: 36px;
    width: 125px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /*color: #222;*/
}

footer {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(207, 207, 207, 0.479);
    padding: 12px;
}